table{
    width: 310px;
    margin: 50px auto;
    background: #663399;
    border: none;
    border-radius: 5px;
    padding: 0px 20px 20px;

}
.heading{
    color: white;
    font-size: 130%;
    text-align: center;
}

#input, #answer{
    width: 260px;
    height: 50px;
    border: none;
    text-align: right;
    font-size: 210%;

}

#input{
    border-radius: 2px 2px 0px 0px ;
    box-shadow: 2px 2px 2px black;
    color: #1e1e1e;
}
#answer{
    border-radius: 0px 0px 2px 2px;
    box-shadow: 2px 2px 2px black;
}

input[type = button]{
    height: 60px;
    width: 60px;
    color: blue;
    background: white;
    margin: 2px 1px;
    font-size: 130%;
    border-radius: 2px;
    border: none;

}

input[type = button]:hover{
    background: #cbcbcb;
    cursor: pointer;
}